<div class="container mt-2">
    <h2 class="mb-4 text-center">Hotel Photos Management</h2>
    <div class="btn-toolbar mb-3 justify-content-end">
        <div class="btn-group">
            <button class="btn btn-outline-primary" (click)="navigateToAdd()">Upload Photo</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Photo</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let photo of hotelPhotos; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{photo.name}}</td>
                    <td>{{photo.description}}</td>
                    <td><img [src]="photo.photo | base64ToImage" alt="Hotel Photo"
                            style="width: 100px; height: auto;" /></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary"
                                (click)="navigateToEdit(photo)">Edit</button>
                            <button type="button" class="btn btn-sm btn-outline-danger"
                                (click)="deletePhoto(photo.id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>