<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form (ngSubmit)="onSubmit()" #cityForm="ngForm" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label for="capacity" class="form-label">Name :</label>
                            <input type="text" id="name" name="name" [(ngModel)]="city.name" class="form-control"
                                required>
                            <div class="invalid-feedback">Please enter a valid city name.</div>
                        </div>
                        <div class="mb-3">
                            <label for="code" class="form-label">Code :</label>
                            <input type="text" id="code" name="code" [(ngModel)]="city.code" class="form-control"
                                required>
                            <div class="invalid-feedback">Please enter a valid View.</div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                        <button type="submit" [disabled]="cityForm.invalid"
                            class="btn bsb-btn-xl btn-outline-primary rounded-pill m-2">Update City</button>
                    </div>
                    <div class="col-4">
                        <a class="btn bsb-btn-xl btn-outline-danger rounded-pill m-2" (click)="back()">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>