<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form (ngSubmit)="onSubmit()" #hotelForm="ngForm" class="needs-validation" novalidate>
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label for="availabilityStatus" class="form-label">Availability Status:</label>
                            <select id="availabilityStatus" name="availabilityStatus"
                                [(ngModel)]="room.availabilityStatus" class="form-control" required>
                                <option [value]="true">Available</option>
                                <option [value]="false">Not Available</option>
                            </select>
                            <div class="invalid-feedback">Please select the Availability Status.</div>
                        </div>
                        <div class="mb-3">
                            <label for="capacity" class="form-label">Capacity:</label>
                            <input type="number" id="capacity" name="capacity" [(ngModel)]="room.capacity"
                                class="form-control" required>
                            <div class="invalid-feedback">Please enter a valid Capacity.</div>
                        </div>
                        <div class="mb-3">
                            <label for="view" class="form-label">View:</label>
                            <input type="number" id="view" name="view" [(ngModel)]="room.view" class="form-control"
                                required>
                            <div class="invalid-feedback">Please enter a valid View.</div>
                        </div>
                        <div class="mb-3">
                            <label for="roomType" class="form-label">Room Type ID:</label>
                            <input type="number" id="roomType" name="roomType" [(ngModel)]="room.roomTypeId"
                                class="form-control" required>
                            <div class="invalid-feedback">Please enter a valid Room Type ID.</div>
                        </div>
                        <div class="mb-3">
                            <label for="isBooked" class="form-label">Is Booked:</label>
                            <select id="isBooked" name="isBooked" [(ngModel)]="room.isBooked" class="form-control"
                                required>
                                <option [value]="true">Yes</option>
                                <option [value]="false">No</option>
                            </select>
                            <div class="invalid-feedback">Please select the Booking Status.</div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-2">
                        <button type="submit" [disabled]="hotelForm.invalid"
                            class="btn bsb-btn-xl btn-outline-primary rounded-pill m-2">Add Room</button>
                    </div>
                    <div class="col-2">
                        <a class="btn bsb-btn-xl btn-outline-danger rounded-pill m-2" (click)="back()">Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>