<header class="section__container header__container">
    <div class="header__image__container">
      <video autoplay muted loop playsinline class="header__background__video">
        <source src="../../../assets/img/video8.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="header__content">
      </div>
      <div class="booking__container">
        <form>
          <div class="form__group">
            <div class="input__group">
              <input type="text" />
              <label>Location</label>
            </div>
            <p>Where are you going?</p>
          </div>
          
          <div class="form__group">
            <div class="input__group">
              <input type="text" #checkInInput />
              <label class="checkin">Check In</label>
            </div>
            <p>Add date</p>
          </div>
          <div class="form__group">
            <div class="input__group">
              <input type="text" #checkOutInput />
              <label class="checkout">Check Out</label>
            </div>
            <p>Add date</p>
          </div>
        </form>
        <button class="btn"><i class="ri-search-line"></i></button>
      </div>
    </div>
  </header>
