.section__container.header__container {
    margin-bottom: 5rem; 
  }
  
  .header__image__container {
    position: relative;
    min-height: 500px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
  }
  
  .header__background__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    object-fit: cover;
    z-index: -1;
  }
  
  .header__content {
    max-width: 600px;
    padding: 5rem 2rem;
  }
  
  .header__content h1 {
    margin-bottom: 1rem;
    padding-top: 5rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: white;
  }
  
  .header__content p {
    color: var(--extra-light);
  }
  
  .booking__container {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 10rem); /* Adjusted width */
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    z-index: 1;
  }
  
  .booking__container form {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Adjusted grid columns */
    gap: 1rem;
  }
  
  .booking__container .input__group {
    width: 100%;
    position: relative;
  }
  
  .booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
  }
  
  .booking__container input {
    width: 100%;
    padding: 5px 0;  /* Reduce padding to make inputs smaller */
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
    padding-right: 30px;
  }
  
  .booking__container input:focus ~ label,
  .booking__container label.focused {
    font-size: 0.8rem;
    top: 0;
  }
  
  .booking__container .input__group i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--text-dark);
  }
  
  .booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
  }
  
  .booking__container .btn {
    padding: 0.5rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: white;
    background-color: #080808;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .booking__container .btn:hover {
    background-color: rgba(29, 30, 30, 0.7);
  }
  
  .booking__container label.focused {
    font-size: 0.8rem;
    top: 0;
  }