<div class="container mt-2">
    <h2 class="mb-4 text-center">Hotel Dashboard</h2>
    <div class="btn-toolbar mb-3 justify-content-end">
        <div class="btn-group">
            <button class="btn btn-outline-primary" (click)="goToAddPage()">Add New Hotel</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Rating</th>
                    <th scope="col">Phone Number</th>
                    <th scope="col">Email</th>
                    <th scope="col">URL</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of hotels; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.rating}}</td>
                    <td>{{item.phoneNumber}}</td>
                    <td>{{item.email}}</td>
                    <td><a [href]="item.webSiteURL" target="_blank">{{item.webSiteURL}}</a></td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary"
                                (click)="navigateToEdit(item.id, item)">Edit</button>
                            <button type="button" class="btn btn-sm btn-outline-info"
                                (click)="navigateToDetails(item.id)">Details</button>
                            <button type="button" class="btn btn-sm btn-outline-danger"
                                (click)="deleteHotel(item.id)">Delete</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                (click)="navigateToRooms(item.id)">Rooms</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                (click)="navigateToFeatures(item.id)">Features</button>
                            <button type="button" class="btn btn-sm btn-outline-secondary"
                                (click)="navigateToPhotos(item.id)">Photos</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>