<div class="container-fluid mt-5">
    <div class="row justify-content-center">
      <div class="col-md-10">
        <form (ngSubmit)="onSubmit(hotelForm)" #hotelForm="ngForm" class="needs-validation" novalidate>
          <div class="row">
            <div class="col-md-4">
              <div class="form-group mb-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" id="name" name="name" [(ngModel)]="hotel.name" #name="ngModel" class="form-control" required (blur)="name.control.markAsTouched()">
                <div class="invalid-feedback" *ngIf="name.invalid && name.touched">
                  Please enter the hotel name.
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="latitude" class="form-label">Latitude:</label>
                <input type="number" id="latitude" name="latitude" [(ngModel)]="hotel.latitude" #latitude="ngModel" class="form-control" required (blur)="latitude.control.markAsTouched()">
                <div class="invalid-feedback" *ngIf="latitude.invalid && latitude.touched">
                  Please enter a valid latitude.
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="longitude" class="form-label">Longitude:</label>
                <input type="number" id="longitude" name="longitude" [(ngModel)]="hotel.longitude" #longitude="ngModel" class="form-control" required (blur)="longitude.control.markAsTouched()">
                <div class="invalid-feedback" *ngIf="longitude.invalid && longitude.touched">
                  Please enter a valid longitude.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mb-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" [(ngModel)]="hotel.email" #email="ngModel" class="form-control" required (blur)="email.control.markAsTouched()">
                <div class="invalid-feedback" *ngIf="email.invalid && email.touched">
                  Please enter a valid email.
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="city" class="form-label">City:</label>
                <select id="city" name="city" [(ngModel)]="hotel.cityId" #city="ngModel" class="form-control" required
                  (blur)="city.control.markAsTouched()">
                  <option *ngFor="let city of cities" [value]="city.id">{{ city.name }}</option>
                </select>
                <div class="invalid-feedback" *ngIf="city.invalid && city.touched">
                  Please select a city.
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group mb-3">
                <label for="phoneNumber" class="form-label">Phone Number:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" [(ngModel)]="hotel.phoneNumber" #phoneNumber="ngModel" class="form-control" required (blur)="phoneNumber.control.markAsTouched()">
                <div class="invalid-feedback" *ngIf="phoneNumber.invalid && phoneNumber.touched">
                  Please enter a valid phone number.
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="websiteURL" class="form-label">Website URL:</label>
                <input type="url" id="websiteURL" name="websiteURL" [(ngModel)]="hotel.webSiteURL" #websiteURL="ngModel" class="form-control" required (blur)="websiteURL.control.markAsTouched()">
                <div class="invalid-feedback" *ngIf="websiteURL.invalid && websiteURL.touched">
                  Please enter a valid URL.
                </div>
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea id="description" name="description" [(ngModel)]="hotel.description" #description="ngModel" class="form-control" rows="3" required (blur)="description.control.markAsTouched()"></textarea>
                <div class="invalid-feedback" *ngIf="description.invalid && description.touched">
                  Please enter a description.
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="mb-3">
                <app-hotel-map [hotel]="hotel" (coordinatesChange)="onCoordinatesChange($event)"></app-hotel-map>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-3">
              <button type="submit" [disabled]="hotelForm.invalid" class="btn bsb-btn-xl btn-outline-primary m-2">Add Hotel</button>
            </div>
            <div class="col-md-3">
              <a class="btn bsb-btn-xl btn-outline-danger m-2" (click)="back()">Back</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

  