<div class="container mt-5">
<div class="mt-5 text-center">
    <h2>Your Bookings</h2>
</div>
    <!-- Search Filters
    <div class="row mb-4">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Hotel Name" [(ngModel)]="filter.HotelName">
        </div>
        <div class="col-md-3">
            <input type="date" class="form-control" placeholder="Check In" [(ngModel)]="filter.CheckIn">
        </div>
        <div class="col-md-3">
            <input type="date" class="form-control" placeholder="Check Out" [(ngModel)]="filter.CheckOut">
        </div>
        <div class="col-md-3">
            <input type="number" class="form-control" placeholder="Room Number" [(ngModel)]="filter.RoomNumber">
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-md-3">
            <input type="number" step="0.01" min="0" class="form-control" placeholder="Price"
                [(ngModel)]="filter.Price">
        </div>
        <div class="col-md-3">
            <select id="status" name="status" [(ngModel)]="filter.Status" class="form-control">
                <option [selected]="true" disabled>Select Status</option>
                <option *ngFor="let status of bookingStatuses" [value]="status.value">{{ status.label }}</option>
            </select>
        </div>
        <div class="col-md-3">
            <button class="btn btn-primary w-100" (click)="applyFilter()">Search</button>
        </div>
    </div> -->
    <!-- Bookings Table -->
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Hotel Name</th>
                <th>Room Numbers</th>
                <th>Check In</th>
                <th>Check Out</th>
                <th>Status</th>
                <th>Total Price</th>
                <th>Notes</th>
                <th>Invoices</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let booking of bookings | paginate: { id: 'ad', itemsPerPage: 3, currentPage: page, totalItems: total }; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ booking.hotelName }}</td>
                <td>{{ booking.roomNumbers.join(', ') }}</td>
                <td>{{ booking.checkIn | date }}</td>
                <td>{{ booking.checkOut | date }}</td>
                <td>{{ getBookingStatusLabel(booking.status) }}</td>
                <td>{{ booking.totalPrice }}</td>
                <td>{{ booking.notes }}</td>
                <td><button type="button" class="btn btn-primary" (click)="openModal(booking.id,template)">Invoice</button></td>
            </tr>
        </tbody>
    </table>
    <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="changePage($event)" id="ad"></pagination-controls>
    </div>
</div>
<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Invoice</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="selectedInvoice">
            <p><strong>Number:</strong> {{ selectedInvoice.number }}</p>
            <p><strong>Date:</strong> {{ selectedInvoice.date | date }}</p>
            <p><strong>Amount:</strong>$ {{ selectedInvoice.amount }}</p>
            <p><strong>Transaction ID:</strong> {{ selectedInvoice.transactionId }}</p>
            <p><strong>Payment Method:</strong> {{ getPaymentMethodLabel(selectedInvoice.paymentMethod) }}</p>
        </div>
    </div>
</ng-template>