<header class="section__container header__container">
    <div class="header__image__container">
      <video autoplay muted loop playsinline class="header__background__video">
        <source src="../../../assets/img/hotelvideo1.1.mp4" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <div class="header__content">
        <h1>Enjoy Your Dream Vacation</h1>
      </div>
      <div class="booking__container">
        <form [formGroup]="bookingForm">
          <div class="form__group">
            <div class="input__group">
              <input type="text" name="cityId" formControlName="cityId"
                     (focus)="onCityFocus()" (blur)="onCityBlur()" (input)="onCityInput()" />
              <label [class.filled]="bookingForm.get('cityId')?.value">Location</label>
              <i class="fa-solid fa-location-dot"></i>
              <ul *ngIf="showDropdown" class="autocomplete-list">
                <li *ngFor="let city of filteredCities$ | async" (click)="selectCity(city)">
                  {{ city.name }}
                </li>
              </ul>
            </div>
            <p>Where are you going?</p>
            <p *ngIf="bookingForm.get('cityId')?.errors?.['required'] && (bookingForm.get('cityId')?.touched || bookingForm.get('cityId')?.dirty)"
               class="error-message text-info">Location is required.</p>
          </div>
          <div class="form__group">
            <div class="input__group">
              <input type="text" id="checkin" formControlName="checkInDate" />
              <label [class.filled]="bookingForm.get('checkInDate')?.value">Check In</label>
            </div>
            <p *ngIf="bookingForm.get('checkInDate')?.errors?.['required'] && (bookingForm.get('checkInDate')?.touched || bookingForm.get('checkInDate')?.dirty)"
               class="error-message text-info">Check-in date is required.</p>
            <p *ngIf="bookingForm.get('checkInDate')?.errors?.['invalidCheckInDate'] && (bookingForm.get('checkInDate')?.touched || bookingForm.get('checkInDate')?.dirty)"
               class="error-message text-info">Check-in date cannot be in the past.</p>
          </div>
          <div class="form__group">
            <div class="input__group">
              <input type="text" id="checkout" formControlName="checkOutDate" />
              <label [class.filled]="bookingForm.get('checkOutDate')?.value">Check Out</label>
            </div>
            <p *ngIf="bookingForm.get('checkOutDate')?.errors?.['required'] && (bookingForm.get('checkOutDate')?.touched || bookingForm.get('checkOutDate')?.dirty)"
               class="error-message text-info">Check-out date is required.</p>
            <p *ngIf="bookingForm.get('checkOutDate')?.errors?.['invalidCheckOutDate'] && (bookingForm.get('checkOutDate')?.touched || bookingForm.get('checkOutDate')?.dirty)"
               class="error-message text-info">Check-out date must be after check-in date.</p>
          </div>
          <div class="form__group">
            <div class="input__group">
              <input type="number" name="roomCapacity" formControlName="roomCapacity" min="1" max="10" />
              <label [class.filled]="bookingForm.get('roomCapacity')?.value">Guests</label>
            </div>
            <p *ngIf="bookingForm.get('roomCapacity')?.errors?.['required'] && (bookingForm.get('roomCapacity')?.touched || bookingForm.get('roomCapacity')?.dirty)"
               class="error-message text-info">Number of guests is required.</p>
            <p *ngIf="bookingForm.get('roomCapacity')?.errors?.['Minimum'] && (bookingForm.get('roomCapacity')?.touched || bookingForm.get('roomCapacity')?.dirty)"
               class="error-message text-info">Minimum number of guests is 1.</p>
            <p *ngIf="bookingForm.get('roomCapacity')?.errors?.['Maximum'] && (bookingForm.get('roomCapacity')?.touched || bookingForm.get('roomCapacity')?.dirty)"
               class="error-message text-info">Maximum number of guests is 10.</p>
          </div>
        </form>
  
        <button class="btn" (click)="onSearch()"><i class="ri-search-line"></i></button>
      </div>
    </div>
  </header>
  