
<link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-car-rental-header></app-car-rental-header>
  <section class="section service has-bg-image" aria-labelledby="service-label"
  style="background-image: url('./assets/images/service-bg.jpg')">
  <div class="container">

    <p class="section-subtitle :light" id="service-label">Our services</p>

    <ul class="service-list">

      <li>
        <div class="service-card">

          <figure class="card-icon">
            <img src="../../../assets/img/services-1.png" width="110" height="110" loading="lazy" alt="Engine Repair">
          </figure>

          <h3 class="h3 card-title">Availability</h3>

          <p class="card-text">
            Real-time availability enhances customer experience by allowing informed decisions and secure vehicle bookings without delays, enhancing customer satisfaction and trust in the service.
          </p>

        </div>
      </li>

      <li>
        <div class="service-card">

          <figure class="card-icon">
            <img src="../../../assets/img/services-2.png" width="110" height="110" loading="lazy" alt="Brake Repair">
          </figure>

          <h3 class="h3 card-title">Cutomer Support</h3>

          <p class="card-text">
            ensures that customers can receive immediate help in case of a breakdown or other emergency, no matter the time or location
          </p>

        </div>
      </li>

      <li>
        <div class="service-card">

          <figure class="card-icon">
            <img src="../../../assets/img/services-3.png" width="110" height="110" loading="lazy" alt="Tire Repair">
          </figure>

          <h3 class="h3 card-title">Flexible rentals</h3>

          <p class="card-text">
            Cancel or change most bookings for free up to 48 hours before pick-up
          </p>


        </div>
      </li>

      <li>
        <div class="service-card">

          <figure class="card-icon">
            <img src="../../../assets/img/services-4.png" width="110" height="110" loading="lazy"
              alt="Battery Repair">
          </figure>

          <h3 class="h3 card-title">Battery Repair</h3>

          <p class="card-text">
         Booky Boo offer comprehensive battery repair services, ensuring reliable and well-maintained vehicles. This service prevents potential issues and demonstrates commitment to vehicle safety, ensuring a smooth and trouble-free rental experience for customers.
          </p>

        </div>
      </li>

      <li class="service-banner">
        <img src="../../../assets/img/carrem2.png" width="646" height="380" loading="lazy" alt="Red Car"
          class="move-anim">
      </li>

      <li>
        <div class="service-card">

          <figure class="card-icon ">
            <img src="../../../assets/img/services-6.png" width="110" height="110" loading="lazy"
              alt="Steering Repair">
          </figure>

          <h3 class="h3 card-title">Best Cars</h3>

          <p class="card-text">
            You can Find all kinds of Cars choose Whatever you Want 
          </p>

        </div>
      </li>

    </ul>

  </div>
</section>
<section class="section2 featured-car" id="featured-car">
    <div class="container1">

      <div class="title-wrapper">
        <h2 class="h2 section-title">Featured cars</h2>

      </div>

      <ul class="featured-car-list">

        <li>
          <div class="featured-car-card">
            <figure class="card-banner">
                <img src="../../../assets/img/ca2.jpg" alt="BMW 3 Series 2019" loading="lazy" width="440" height="300"
                  class="w-100">
              </figure>
            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">Toyota RAV4</a>
                </h3>

                <data class="year" value="2021">2021</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                  <i class="fa-regular fa-user" style="color: #000000;"></i>
                  <span class="card-item-text">4 People</span>
                </li>

                <li class="card-list-item">
<i class="fa-solid fa-gas-pump" style="color: #0d0d0d;"></i>

                  <span class="card-item-text">Hybrid</span>
                </li>


              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>$440</strong> / month
                </p>


                <button class="btn">Explore Now</button>

              </div>

            </div>

          </div>
        </li>

        <li>
          <div class="featured-car-card">

            <figure class="card-banner">
              <img src="../../../assets/img/ca2.jpg" alt="BMW 3 Series 2019" loading="lazy" width="440" height="300"
                class="w-100">
            </figure>

            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">BMW 3 Series</a>
                </h3>

                <data class="year" value="2019">2019</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                    <i class="fa-regular fa-user" style="color: #000000;"></i>

                  <span class="card-item-text">4 People</span>
                </li>

                <li class="card-list-item">
                  <i class="fa-solid fa-gas-pump" style="color: #0d0d0d;"></i>
                  <span class="card-item-text">Gasoline</span>
                </li>


              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>$350</strong> / month
                </p>


                <button class="btn">Explore more</button>

              </div>

            </div>

          </div>
        </li>

        <li>
          <div class="featured-car-card">

            <figure class="card-banner">
              <img src="../../../assets/img/ca2.jpg" alt="Volkswagen T-Cross 2020" loading="lazy" width="440"
                height="300" class="w-100">
            </figure>

            <div class="card-content">

              <div class="card-title-wrapper">
                <h3 class="h3 card-title">
                  <a href="#">Volkswagen T-Cross</a>
                </h3>

                <data class="year" value="2020">2020</data>
              </div>

              <ul class="card-list">

                <li class="card-list-item">
                    <i class="fa-regular fa-user" style="color: #000000;"></i>

                  <span class="card-item-text">4 People</span>
                </li>

                <li class="card-list-item">
                    <i class="fa-solid fa-gas-pump" style="color: #0d0d0d;"></i>

                  <span class="card-item-text">Gasoline</span>
                </li>

              </ul>

              <div class="card-price-wrapper">

                <p class="card-price">
                  <strong>$400</strong> / month
                </p>

                <button class="btn">Explore more</button>

              </div>

            </div>

          </div>
        </li>

      </ul>

    </div>
  </section>
