@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap");

:root {
  --primary-color: #00605f;
  --secondary-color: #017479;
  --text-dark: #0f172a;
  --text-light: #94a3b8;
  --white: #ffffff;
  --max-width: 1400px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(
      to right,
      rgba(2, 82, 89, 0.9),
      rgba(255, 255, 255, 0)
    ),
    url("../../../assets/img/hotel3.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  max-width: var(--max-width);
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.nav__logo img {
  max-width: 100px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.login {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  color: white;
  background-color: #00605f;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  background-color: #017479;
}


.destination__container {
  position: relative;
  padding: 5rem 0 5rem 5rem;
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  align-items: center;
}


.socials {
  position: absolute;
  top: 25rem;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.socials::after {
  position: absolute;
  content: "";
  top: -22rem;
  left: 15px;
  height: 15rem;
  width: 2px;
  background-color: white;
}

.socials span {
  font-size: 2rem;
  color: white;
}

.content h1 {
  margin-bottom: 2rem;
  font-size: 4.5rem;
  font-weight: 800;
  color: white;
}

.content h1 span {
  -webkit-text-stroke: 2px #ffffff;
  -webkit-text-fill-color: transparent;
}

.content p {
  max-width: 350px;
  margin-bottom: 2rem;
  line-height: 1.5rem;
  color: white;
}

.content .btn {
  padding: 0.75rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  background-color: #00605f;
  cursor: pointer;
}

.destination__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.destination__card {
    position: relative;  /* Add relative positioning to the card */
    height: 100%; 
    background-color: white;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    overflow: hidden; 
}

.destination__card img {
  width: 100%;
  width: 100%;
  height: 100%;  /* Make the image take up the full height of the card */
  object-fit: cover;
  color: linear-gradient(
    to right,
    rgba(2, 82, 89, 0.9),
    rgba(255, 255, 255, 0)
  )
}

.card__content {
  padding: 1rem;
}

.card__content h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #0f172a;
}

.card__content p {
  margin-bottom: 1rem;
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #94a3b8;
}

.destination__card .btngird {
    position: absolute;  /* Position the button absolutely within the card */
    bottom: 10px;  /* Position the button 10px from the bottom of the card */
    left: 50%;  /* Center the button horizontally */
    transform: translateX(-50%);  /* Adjust position to center it */
    padding: 0.5rem 1rem;
    outline: none;
    border: none;
    font-weight: 500;
    color: white;
    background-color: #00605f;
    cursor: pointer;
    z-index: 1;
  }

@media (width < 1200px) {
  .search {
    max-width: 235px;
  }

  .destination__container {
    grid-template-columns: 1fr;
  }
}

@media (width < 900px) {
  .nav__links {
    display: none;
  }

  .content h1 {
    font-size: 4rem;
  }

  .destination__grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width < 600px) {
  .search {
    display: none;
  }

  .destination__container {
    padding-left: 3rem;
  }

  .content h1 {
    font-size: 3rem;
  }

  .destination__grid {
    grid-template-columns: repeat(1, 1fr);
  }
}