<link
href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
rel="stylesheet"
/>
<body>
    <div class="container">
    <app-nav-bar></app-nav-bar>
      <div class="destination__container">
        <div class="socials">
          <span><i class="ri-twitter-fill"></i></span>
          <span><i class="ri-facebook-fill"></i></span>
          <span><i class="ri-instagram-line"></i></span>
          <span><i class="ri-youtube-fill"></i></span>
        </div>
        <div class="content">
          <h1>EXPLORE
    <br/>
    <br/>
            DREAM
            <br />
            <br/><span>DESTINATION</span></h1>
          <p>
            It encourages exploration of unfamiliar territories, embracing
            diverse cultures and landscapes, while pursuing the desired
            destination that captivates the heart and ignites a sense of wonder.
          </p>
          <button class="btn">BOOK NOW</button>
        </div>
        <div class="destination__grid">
          <div class="destination__card">
            <img src="../../../assets/img/login1.jpg" alt="destination" />
              <button class="btngird">Hotels</button>
          </div>
          <div class="destination__card">
            <img src="../../../assets/img/plan2.jpg" alt="destination" />
              <button class="btngird">Flights</button>
          </div>
          <div class="destination__card">
            <img src="../../../assets/img/home3.jpg" alt="destination" />
              <button class="btngird">Cars </button>
          </div>
        </div>
      </div>
    </div>
  </body>