<link
href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
rel="stylesheet"
/>
<div class="body">
  <div class="container">
    <div class="destination__container">
      <div class="socials">
        <span><i class="ri-twitter-fill"></i></span>
        <span><i class="ri-facebook-fill"></i></span>
        <span><i class="ri-instagram-line"></i></span>
        <span><i class="ri-youtube-fill"></i></span>
      </div>
      <div class="content">
        <h1>EXPLORE
  <br/>
  <br/>
          DREAM
          <br />
          <br/><span>DESTINATION</span></h1>
        <p>
          Now you can explore your desired destination that captivates the heart and ignites a sense of wonder and now you can go  whereever you want with any car you can choose
        </p>
      </div>
      <div class="destination__grid">
        <div class="destination__card">
          <img src="../../../assets/img/hotel4.jpg" alt="destination" />
            <button class="btngird" (click)="toHotel();">Hotels</button>
        </div>

        <div class="destination__card">
          <img src="../../../assets/img/ccar1.jpg" alt="destination" />
            <button class="btngird" (click)=" toCar();" >Cars </button>
        </div>
      </div>
    </div>
  </div>
</div>