
<div class="details">
    <div class="header">
      <h1>Helambu Spiritual Hike</h1>
      <div class="price-container">
        <p class="price">From $320/Person</p>
        <div class="con-like">
          <input class="like" type="checkbox" title="like">
          <div class="checkmark">
            <svg xmlns="http://www.w3.org/2000/svg" class="outline" viewBox="0 0 24 24">
              <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" class="filled" viewBox="0 0 24 24">
              <path d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="celebrate">
              <polygon class="poly" points="10,10 20,20"></polygon>
              <polygon class="poly" points="10,50 20,50"></polygon>
              <polygon class="poly" points="20,80 30,70"></polygon>
              <polygon class="poly" points="90,10 80,20"></polygon>
              <polygon class="poly" points="90,50 80,50"></polygon>
              <polygon class="poly" points="80,80 70,70"></polygon>
            </svg>
          </div>
        </div>
      </div>
    </div>
    <p class="location">Kathmandu, Nepal <span class="rating">★★★★☆</span></p>
  </div>
  <section class="section-faq">
    <div class="section-faq-left">
      <section class="hero">
        <div class="images">
          <img src="../../../assets/img/ca2.jpg" alt="Image 1" (click)="openModal('../../../assets/imgs/hotel4.jpg')">
          <img src="../../../assets/img/ca2.jpg" alt="Image 2" (click)="openModal('../../../assets/imgs/hotel3.jpg')">
          <img src="../../../assets/img/ca3.jpg" alt="Image 3" (click)="openModal('../../../assets/imgs/hotel1.jpg')">
          <img src="../../../assets/img/ca1.jpg" alt="Image 4" (click)="openModal('../../../assets/imgs/hotel2.jpg')">
          <img src="../../../assets/img/ca3.jpg" alt="Image 3" (click)="openModal('../../../assets/imgs/hotel5.jpg')">
          <img src="../../../assets/img/ca1.jpg" alt="Image 3" (click)="openModal('../../../assets/imgs/hotel5.jpg')">
        </div>
        <div class="main-image">
          <img src="../../../assets/img/ca1.jpg" alt="Main Image">
        </div>
      </section>
    </div>
    <div class="section-faq-right">
        <div class="heading">
          <h2>Find the answer to your questions</h2>
        </div>
  
        <div class="accordion-box">
            <!-- accordion box one  -->
            <div class="main-tab">
                <input type="radio" name="tab" id="tab-1" checked>
                <label for="tab-1">
                    <div class="icon"><i class="fas fa-chevron-right"></i></div>
                    <span>Facilites  </span>
                </label>
  
                <div class="content">
                 
                  <div class="row specifications">
                    <div class="col spec-item">
                        <img src="../../../assets/img/settings-gears.png" alt="Icon 1">
                        <div>
                            <div class="spec-main">Gear Type</div>
                            <div class="spec-div">Manual</div>
                        </div>
                    </div>
                    <div class="col spec-item">
                        <img src="../../../assets/img/gas-station.png" alt="Icon 3">
                        <div>
                            <div class="spec-main">Fuel</div>
                            <div class="spec-div">Diesel</div>
                        </div>
                    </div>
                    <div class="col spec-item">
                        <img src="../../../assets/img/-car-model.png" alt="Icon 5">
                        <div>
                            <div class="spec-main">Model</div>
                            <div class="spec-div">2022</div>
                        </div>
                    </div>
                    <div class="col spec-item">
                        <img src="../../../assets/img/car-seat.png" alt="Icon 6">
                        <div>
                            <div class="spec-main">Capacity</div>
                            <div class="spec-div">3 Persons</div>
                        </div>
                    </div>
                  </div>
  
                    
                   
                </div>
            </div>
  
            <!-- accordion box two  -->
            <div class="main-tab">
                <input type="radio" name="tab" id="tab-2" checked>
                <label for="tab-2">
                    <div class="icon"><i class="fas fa-chevron-right"></i></div>
                    <span>Description</span>
                </label>
  
                <div class="content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing thelit. Quam, repellendus facere, id porro magnam blanditiiss quoteos dolores ratione quidem ipsam esse quos pariatur, repellat obcaecati!</p>
                </div>
            </div>
  
            <!-- accordion box three  -->
            <div class="main-tab">
                <input type="radio" name="tab" id="tab-3" checked>
                <label for="tab-3">
                    <div class="icon"><i class="fas fa-chevron-right"></i></div>
                    <span>Pick-Up and Drop off Location</span>
                </label>
  
                <div class="content">
                  <h5><i class="fa-solid fa-map-location-dot mar"></i>Hurgada</h5>
                    <p (click)="openModal1()" style="margin-left:14px ; color: gray; cursor: pointer;"> Click Here To check The Time And Location To Pick Up</p>
                </div>
               <app-map-modal-for-car></app-map-modal-for-car>
            </div>
      
            <!-- accordion box three  -->
            <div class="main-tab">
                <input type="radio" name="tab" id="tab-4" checked>
                <label for="tab-4">
                    <div class="icon"><i class="fas fa-chevron-right"></i></div>
                    <span>Important Information</span>
                </label>
  
                <div class="content">
                    <p>  <i class="fa-solid fa-user  mar"></i>the driver should have (Passport or national ID card & Driving licence & Credit card)</p>
                    <p> <i class="fa-solid fa-gas-pump  mar" ></i>At pick-up, the main driver will leave a refundable security deposit of US$1,000.00 on their credit card.</p>
                    <p><i class="fa-solid fa-map-location-dot mar"></i> When you pick your car up, the fuel tank will be full or partly full.You will leave a deposit to cover the cost of the fue</p>
                </div>
            </div>
        </div>
        <button>Reserve</button>
    </div>
  </section>