<link
href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
rel="stylesheet"
/>
<header class="section__container header__container">
    <div class="header__image__container">
        <video autoplay muted loop playsinline class="header__background__video">
            <source src="../../../assets/img/hotelvideo1.1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
      <div class="header__content">
        <h1>Enjoy Your Dream Vacation</h1>
      </div>
      <div class="booking__container">
        <form>
          <div class="form__group">
            <div class="input__group" >
              <input type="text" />
              <label>Location</label>
              <i class="fa-solid fa-location-dot"></i>
            </div>
            <p>Where are you going?</p>
          </div>
          <div class="form__group">
            <div class="input__group">
              <input type="text" />
              <label>Check In</label>
            </div>
            <p>Add date</p>
          </div>
          <div class="form__group">
            <div class="input__group">
              <input type="text" />
              <label>Check Out</label>
            </div>
            <p>Add date</p>
          </div>
          <div class="form__group">
            <div class="input__group">
              <input type="text" />
              <label>Guests</label>
            </div>
            <p>Add guests</p>
          </div>
        </form>
        <button class="btn"><i class="ri-search-line"></i></button>
      </div>
    </div>
  </header>
  <section class="section__container travellers__container">
    <h2 class="section__headerTravells">Top Rated Hotels</h2>
    <div class="travellers__grid">
      <div class="travellers__card">
        <img src="../../../assets/img/hotel1.jpg" alt="traveller" />
        <div class="travellers__card__content">
          <h4>Media One Hotel</h4>
          <p>Dubai</p>
        </div>
      </div>
      <div class="travellers__card">
        <img src="../../../assets/img/hotel5.jpg" alt="traveller" />
        <div class="travellers__card__content">
          <h4>La Parisien</h4>
          <p>Paris</p>
        </div>
      </div>
      <div class="travellers__card">
        <img src="../../../assets/img/hotel3.jpg" alt="traveller" />
        <div class="travellers__card__content">

          <h4>Value Hotel Thomson</h4>
          <p>Singapore</p>
        </div>
      </div>
      <div class="travellers__card">
        <img src="../../../assets/img/hotel4.jpg" alt="traveller" />
        <div class="travellers__card__content">
          <h4>Bangi Resort Hotel
        </h4>
          <p>Malaysia</p>
        </div>
      </div>
    </div>
  </section>