<link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<app-booking-header class="booking-header" [parmas]="parmas"></app-booking-header>
<section class="destinations">
    <h4 class="label"> Best Destinations</h4>
    <div class="container">
        <div class="container-box">
            <h2 class="heading">City escape and <br><br> nature retreats</h2>

            <div class="content">
                <p>Choosing the best destination is crucial for a fulfilling travel experience. The ideal destination offers a blend of cultural richness, natural beauty, and engaging activities that cater to diverse interests. Whether you're seeking adventure, relaxation, or a mix of both, the best destinations provide an array of attractions and experiences.</p>
                
            </div>
        </div>
        <div class="gallery">
            <div class="box box1">
                <img src="../../../assets/img/hotel2.jpg" alt="" (click)="seoul()">
                <div class="text">
                    <h2 (click)="seoul()">Seoul</h2>
                </div>
            </div>
            <div class="box box2">
                <img src="../../../assets/img/hotel3.jpg" alt="">
                <div class="text">
                    <h2>bali</h2>
                </div>
            </div>
            <div class="box box3">
                <img src="../../../assets/img/hotel4.jpg" alt="" (click)="bali()">
                <div class="text">
                    <h2 (click)="bali()">bali</h2>
                </div>
            </div>
            <div class="box box4">
                <img src="../../../assets/img/hotel5.jpg" alt="">
                <div class="text">
                    <h2>east java</h2>
                </div>
            </div>
            <div class="box box5">
                <img src="../../../assets/img/hotel1.jpg" alt="" (click)="Maldives()">
                <div class="text">
                    <h2 (click)="Maldives()">Maldives</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- travel.component.html -->

<section class="travel">
    <div class="container">
        <div class="box box1">
            <img src="../../../assets/img/planning.png" alt="">
            <div class="content">
                <h4>Seamless Travel Planning</h4>
                <p>Provide comprehensive support from booking to departure. They offer convenient online reservation systems, detailed itineraries, and assistance with transportation arrangements. Additionally, they provide local insights and recommendations to help you make the most of your trip. By streamlining the planning process, these hotels ensure that every aspect of your travel is well-coordinated and effortless, allowing you to focus on relaxing and exploring your destination.p>
            </div>
        </div>
        <div class="box box2">
            <img src="../../../assets/img/map.png" alt="">
            <div class="content">
                <h4>Toilored Experiences</h4>
                <p> Elevate your stay by catering specifically to your preferences and needs. These personalized touches can range from custom room settings and curated local activity recommendations to specialized dining options that suit your tastes. Hotels that offer tailored experiences pay close attention to the details that matter most to you, creating a unique and memorable stay. This personalized approach not only enhances comfort and satisfaction but also makes you feel valued and understood as a guest..</p>
            </div>
        </div>
        <div class="box box3">
            <img src="../../../assets/img/trust.png" alt="">
            <div class="content">
                <h4>Reliable and Trustworthy</h4>
                <p>Ensures consistent quality and dependable service, making your stay smooth and enjoyable. Trustworthy establishments prioritize guest safety and satisfaction, adhering to high standards of cleanliness and transparency in their policies. .</p>
            </div>
        </div>
    </div>
</section>
<section class="feedback">
    <div class="container">
        <h4 class="label">Our Guests Review </h4>
        <h2 class="heading">Our Loyal Guests</h2>
        <p class="paragraph">
            real stories from our BookyBoo community
        </p>
    </div>

    <div class="voices">
        <div class="voice box1">
            <div class="profile">
                <img src="../../../assets/img/photo1.jpg" alt="">
                <div class="detail">
                    <li>Davin</li>

                </div>
            </div>
            <p>"Everything was perfect
                Staff very friendly and informative
                Mr. Kansan (front office manager) was very helpful and supportive"</p>
        </div>
        <div class="voice box2">
            <div class="profile">
                <img src="../../../assets/img/photo2.jpg" alt="">
                <div class="detail">
                    <li>Marvin</li>
                </div>
            </div>
            <p>"Wonderful experience. Great location with the best beach in Soma bay! the pool was great. food and drinks are very good. The staff is so professional and very friendly from the house keeping to the front desk manager and GM. Mena was really nice and professional along with all other staff Moustafa, Beshoy, Tadros and everybody else strives to make you happy. Greek restaurant and Asian were fantastic. I’d definitely visit again when choosing Soma bay stay!"</p>
        </div>
        <div class="voice box3">
            <div class="profile">
                <img src="../../../assets/img/photo3.jpg" alt="">
                <div class="detail">
                    <li>Maged</li>
                </div>
            </div>
            <p>"Everything was exceptional. friendly staff , supportive management, great location, very clean and the food was super. and the beach is fantastic. thanks for having a wonderful stay and I will always go to Setindo"</p>
        </div>
    </div>
</section>
<section class="article">
    <h4 class="label">Resources</h4>
    <h2 class="heading">Latest Article</h2>
    <div class="container">
        <div class="latest-article">
            <img src="../../../assets/img/festivals.jpg" alt=""  (click)="redirectToLonelyPlanet()">
            <p>Destination Discovery</p>
            <h3 (click)="redirectToLonelyPlanet()" style="cursor: pointer;">10 best Places in Japan </h3>
            <div class="author">
                <img src="../../../assets/img/person4.jpg" alt="" >
                <p>sandy aldiansyah </p>
            </div>
        </div>
        <div class="more-article">
            <div class="box box1">
                <div class="image">
                    <img src="../../../assets/img/fes2.jpg" alt="" (click)="redirectIndia()">
                </div>
                <div class="text">
                    <h3 (click)="redirectIndia()" style="cursor: pointer;">Descover Holi festivals in India</h3>
                    <li>family events</li>
                </div>
            </div>
            <div class="box box2">
                <div class="image">
                    <img src="../../../assets/img/fes3.jpg" alt="" (click)="redirectcrismas()">
                </div>
                <div class="text">
                    <h3 (click)="redirectcrismas()" style="cursor: pointer; ">6 magical Christmas experiences in London</h3>
                    <li>Christmas</li>
                </div>
            </div>
            <div class="box box3">
                <div class="image">
                    <img src="../../../assets/img/fes4.jpg" alt="" (click)="redirectoKorea()">
                </div>
                <div class="text">
                    <h3 (click)="redirectoKorea()" style="cursor: pointer;">Discover best summer music festivals in South Korea</h3>
                    <li>music festivals</li>
                </div>
            </div>
            <div class="box box4">
                <div class="image">
                    <img src="../../../assets/img/fes5.jpg" alt="" (click)="redirectoVetnamie()">
                </div>
                <div class="text">
                    <h3 (click)="redirectoVetnamie()" style="cursor: pointer;"> 7 experiences you haven’t had in Vietnam </h3>
                    <li>travel tips </li>
                </div>
            </div>
        </div>
    </div>
</section>