@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
.section__container.header__container {
    margin-bottom: 10rem; /* Adjust this value as needed */
  }.header__image__container {
    position: relative;
    min-height: 500px;
    /*background-image: url("../../../assets/img/p2.jpg");*/
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
  }
  .header__background__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-bottom: 1rem;
    object-fit: cover; /* Ensure the video covers the container */
    z-index: -1; /* Ensure the video stays behind other content */
}
  .header__content {
    max-width: 600px;
    padding: 5rem 2rem;
  }
  
  .header__content h1 {
    margin-bottom: 1rem;
    padding-top: 5rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: white;
  }
  
  .header__content p {
    color: var(--extra-light);
  } .booking__container {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
    z-index: 1; /* Ensure the form appears above the video */
  }
  
  .booking__container form {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .booking__container .input__group {
    width: 100%;
    position: relative;
  }
  
  .booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
  }
  
  .booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
    padding-right: 30px; /* Add padding to the right to make space for the icon */
  }
  
  .booking__container input:focus ~ label {
    font-size: 0.8rem;
    top: 0;
  }
  
  .booking__container .input__group i {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1rem;
    color: var(--text-dark);
  }
  
  .booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
  }
  
  .booking__container .btn {
    padding: 0.5rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: #00605f;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .booking__container .btn:hover {
    background-color: rgba(1, 116, 121, 0.7);
  }
  .travellers__grid {
    margin-top: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  .section__headerTravells{
    text-align: center;
    font-family: "Poetsen One", sans-serif;
  }
  .travellers__card {
    border-radius: 5rem;
    overflow: hidden;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
  }
  .travellers__card:hover {
    transform: translateY(-30px); /* Move the card up on hover */
  }
  .travellers__card img{
    width: 400px;
    height: 250px;
  }
  
  .travellers__card__content {
    position: relative;
    padding: 1rem;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
  }
  
  .travellers__card__content img {
    position: absolute;
    max-width: 20px;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid var(--extra-light);
    border-radius: 100%;
  }
  
  .travellers__card__content h4 {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
  }
  
  .travellers__card__content p {
    font-weight: 500;
    color: var(--text-light);
  }