body {
  margin: 0;
  padding: 0;
}

.main {
  margin-right: 90px;
  margin-left: 50px;
  margin-top: 60px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
  background-color: #FF5A5F;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

nav input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
}

.nav-links a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
}

.hero {
  display: flex;
  margin-top: 40px;
}

.images {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.images img {
  width: 200px;
  height: 90px;
  object-fit: cover;
  border-radius: 20px;
  margin-bottom: 10px;
}

.main-image img {
  width: 800px;
  height: 600px;
  object-fit: cover;
  border-radius: 20px;
}

.reviewSection {
  margin-top: 40px;
  margin-left: 20px;
  width: 300px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  background-color: rgba(245, 245, 245, 0.872);
  height: 600px; /* Fixed height */
}

.reviewSection h5 {
  margin-top: 20px;
  font-size: 24px;
  font-weight: 700;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.review-list {
  max-height: 480px; /* Adjust this height as needed */
  overflow-y: auto;
}

.list-group {
  max-height: 80%; /* Adjust as needed to fit the comment section */
}

.list-group-item {
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

h6 {
  font-size: 16px;
  font-weight: bold;
}

.pReview {
  font-size: 14px;
  color: #6c757d;
  margin-top: 10px;
}

a.float-right {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

a.float-right:hover {
  text-decoration: underline;
}

img.rounded-circle {
  width: 50px;
  height: 40px;
}

.imgReview {
  margin-right: 5px;
  margin-left: -10px;
}

.details {
  margin-top: 70px;
}

.details .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 900;
}

.details h1 {
  font-size: 40px;
  font-weight: 900;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.details .location {
  font-size: 18px;
  margin: 10px;
  color: gray;
}

.location .icon {
  color: rgb(0, 132, 255);
  margin-right: 2px;
}

.details .rating {
  color: gold;
  margin-left: 20px;
}

.details .price {
  font-size: 24px;
  color: red;
  margin-left: 20px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
}

.tags span {
  background-color: white;
  color: #004047;
  border: 1px solid #112a34;
  padding: 7px 9px;
  margin-left: 80px;
  border-radius: 20px;
  margin-bottom: 10px;
}

.table {
  margin-top: 40px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  margin: 20px 0;
}

.info div {
  margin-bottom: 10px;
}

.info span {
  display: block;
  font-weight: bold;
}

.facilities-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.facilities-header h3 {
  text-align: center;
}

.facilities-header {
  font-size: 25px;
  font-weight: 800;
  color: gray;
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: 10px;
}

.description {
  margin: 20px 0;
}

.description h3 {
  color: gray;
  font-size: 25px;
  font-weight: 800;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.description p {
  font-size: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.check-dates {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  background-color: #004047;
  color: white;
}

.add-favourite {
  background-color: white;
  color: #FF5A5F;
  border: 2px solid #FF5A5F;
}

.map {
  margin: 20px;
}

.map img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.price-container {
  display: flex;
  align-items: center;
}

.feedback .allrev h5 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
}

.container1 {
  margin-top: 80px;
}

.con-like {
  --red: rgb(255, 50, 50);
  position: relative;
  width: 30px;
  height: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

.con-like .like {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 20;
  cursor: pointer;
}

.con-like .checkmark {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.con-like .outline,
.con-like .filled {
  fill: var(--red);
  position: absolute;
}

.con-like .filled {
  animation: kfr-filled 0.5s;
  display: none;
}

.con-like .celebrate {
  position: absolute;
  animation: kfr-celebrate 0.5s;
  animation-fill-mode: forwards;
  display: none;
}

.con-like .poly {
  stroke: var(--red);
  fill: var(--red);
}

.con-like .like:checked~.checkmark .filled {
  display: block
}

.con-like .like:checked~.checkmark .celebrate {
  display: block
}

.rating {
  font-size: 1.2em;
  color: gold;
}

.location {
  display: flex;
  align-items: center;
}

.features {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.feature {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  width: 250px;
  text-align: left;
}

.feature i {
  font-size: 24px;
  margin-bottom: 8px;
  margin-right: 9px;
  color: #555;
}

.feature p {
  margin: 0;
  font-size: 14px;
  color: #333;
}

.containerTable {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
  padding-bottom: 40px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
  small {
    font-size: 0.5em;
  }
}

.responsive-table {
  li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-right: 20px;
  }
  .table-header {
    background-color: #95A5A6;
    font-size: 14px;
    text-transform: uppercase;
    padding-right: 20px;
    margin-right: 20px;
    letter-spacing: 0.03em;
  }
  .table-row {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
  }
  .col-1 {
    flex-basis: 20%;
  }
  .col-2 {
    flex-basis: 20%;
  }
  .col-3 {
    flex-basis: 20%;
  }
  .col-4 {
    flex-basis: 20%;
    margin-right: 120px;
  }
  .col-5 {
    flex-basis: 20%;
    margin-left: 40px;
  }
  
  @media all and (max-width: 767px) {
    .table-header {
      display: none;
    }
    li {
      display: block;
    }
    .col {
      flex-basis: 100%;
    }
    .col {
      display: flex;
      padding: 10px 0;
      &:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
      }
    }
  }
}

.add-comment {
  display: flex;
  margin-top: 10px;
}

.add-comment input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px 0 0 5px;
}

.add-comment button {
  padding: 10px 20px;
  border: none;
  background-color: #0a385e;
  color: white;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

.add-comment button:hover {
  background-color: #204665;
}
