<div class="all">
  <main class="main">
    <div class="details">
      <div class="header">
        <h1>{{filteredHotel.name}}</h1>
        <div class="price-container">
          <p class="price">Starts From {{filteredHotel.price}}/Pesron</p>
          <div class="con-like">
            <input class="like" type="checkbox" title="like" [checked]="isWishlist" (change)="toggleWishlist(filteredHotel)">
            <div class="checkmark">
              <svg xmlns="http://www.w3.org/2000/svg" class="outline" viewBox="0 0 24 24">
                <path
                  d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
                </path>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" class="filled" viewBox="0 0 24 24">
                <path
                  d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
                </path>
              </svg>
              <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="celebrate">
                <polygon class="poly" points="10,10 20,20"></polygon>
                <polygon class="poly" points="10,50 20,50"></polygon>
                <polygon class="poly" points="20,80 30,70"></polygon>
                <polygon class="poly" points="90,10 80,20"></polygon>
                <polygon class="poly" points="90,50 80,50"></polygon>
                <polygon class="poly" points="80,80 70,70"></polygon>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <p class="location">
        <span class="icon"> <i class="fa-solid fa-location-dot"></i></span>

        {{filteredHotel.cityName}}
        <span class="rating">
          <ng-container *ngFor="let star of getStars(filteredHotel.rating)">
            {{star}}
          </ng-container>
        </span>
      </p>
    </div>
    <div class="row">
      <div class="col-9">
        <section class="hero">
          <div class="images">
            <ng-container *ngFor="let photo of getCategory2Photos()">
              <img [src]="baseUrl + photo.photoUrl" [alt]="filteredHotel.name" (click)="openModal(baseUrl + photo.photoUrl)">
            </ng-container>
          </div>
          <div class="main-image" *ngIf="getMainPhoto(filteredHotel) as mainPhoto">
            <img [src]="baseUrl+mainPhoto.photoUrl" [alt]="filteredHotel.name">
          </div>
        </section>
      </div>
      <div class="col-3 re">
        <div class="col-md-3 reviewSection">
          <div class="col-md-12">
            <h5 class="mb-4">Popular Reviews</h5>
            <div class="review-list">
              <div class="list-group">
                <div class="list-group-item d-flex align-items-start" *ngFor="let review of reviews">

                  <img [src]="review.photoUrl ? baseUrl + review.photoUrl : defaultPhotoUrl" class="rounded-circle mr-3 imgReview" alt="Reviewer Image">

                  <div>
                    <h6 class="mb-1">{{ review.userName }}</h6>
                    <p class="mb-1 pReview">{{ review.comment }}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="add-comment" *ngIf="userId">
              <input [(ngModel)]="newComment" placeholder="Add your comment...">
              <button (click)="addComment()">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="details">
      <div class="tags">
        <div class="facilities-container">
          <h3 class="facilities-header">Most popular Facilities</h3>
          <div class="info">
            <span *ngFor="let feature of filteredHotel.features">
              <i class="fa-solid" [ngClass]="featureIcons[feature.name]"></i> {{ feature.name }}
            </span>
          </div>
        </div>
      </div>
    </section>
    <app-hoteldetailsimg [imageSrc]="modalImageSrc"></app-hoteldetailsimg>
    <section class="table">
      <h3 class="facilities-header">Availability</h3>
      <div class="containerTable">
        <ul class="responsive-table">
          <li class="table-header">
            <div class="col col-1"><i class="fa-solid fa-warehouse"></i>Capacity </div>
            <div class="col col-2"><i class="fa-solid fa-eye"></i>view</div>
            <div class="col col-3"><i class="fa-solid fa-people-roof"></i>Room Type</div>
            <div class="col col-4"> <i class="fa-solid fa-dollar-sign"></i>Price Per Night</div>
            <div class="col col-4"><i class="fa-solid fa-calendar-alt"></i> Reservation</div>
          </li>
          <li class="table-row" *ngFor="let room of filteredHotel.rooms">
            <div class="col col-1" data-label="capacity">{{ room.capacity }}</div>
            <div class="col col-2" data-label="view">{{ getViewLabel(room.view) }}</div>
            <div class="col col-3" data-label="Room Type">{{ room.typeName }}</div>
            <div class="col col-4" data-label="Price">${{ room.pricePerNight }}</div>
            <div><button class="check-dates" (click)="createBooking(room)">Reserve</button></div>
          </li>
        </ul>
      </div>
    </section>
    <div class="container1">
      <div class="row">
        <div class="col">
          <app-hotel-map [hotel]="hotelCoordinates"></app-hotel-map>
        </div>
        <div class="col">
          <div class="description">
            <h3>Description</h3>
            <p>{{filteredHotel.description}}</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>