<div class="container mt-2">
    <h2 class="mb-4 text-center">Room Types Dashboard</h2>
    <div class="btn-toolbar mb-3 justify-content-end">
        <div class="btn-group">
            <button class="btn btn-outline-primary" (click)="goToAddPage()">Add New RoomType</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Price Per Night</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of roomTypes; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.pricePerNight}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary mx-2"
                                (click)="navigateToEdit(item.id, item)">Edit</button>
                            <button type="button" class="btn btn-sm btn-outline-danger mx-2"
                                (click)="deleteType(item.id)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>