<div class="container mt-5">
    <div class="mt-5 text-center">
      <h2>Your Rentals</h2>
    </div>
    <!-- Rentals Table -->
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Car Agency</th>
          <th>Car Model</th>
          <th>Pick Up Date</th>
          <th>Drop Off Date</th>
          <th>Status</th>
          <th>Total Price</th>
          <th>Notes</th>
          <th>Invoices</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let rental of rentals | paginate: { id: 'rentals', itemsPerPage: 3, currentPage: page, totalItems: total }; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ rental.carAgencyName }}</td>
          <td>{{ rental.carModel }}</td>
          <td>{{ rental.pickUpDate | date }}</td>
          <td>{{ rental.dropOffDate | date }}</td>
          <td>{{ getRentalStatusLabel(rental.status) }}</td>
          <td>{{ rental.totalPrice }}</td>
          <td>{{ rental.notes }}</td>
          <td><button type="button" class="btn btn-primary" (click)="openModal(rental.id, template)">Invoice</button></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-center">
      <pagination-controls (pageChange)="changePage($event)" id="rentals"></pagination-controls>
    </div>
  </div>
  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Invoice</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div *ngIf="selectedInvoice">
        <p><strong>Number:</strong> {{ selectedInvoice.number }}</p>
        <p><strong>Date:</strong> {{ selectedInvoice.date | date }}</p>
        <p><strong>Amount:</strong>$ {{ selectedInvoice.amount }}</p>
        <p><strong>Transaction ID:</strong> {{ selectedInvoice.transactionId }}</p>
        <p><strong>Payment Method:</strong> {{ getPaymentMethodLabel(selectedInvoice.paymentMethod) }}</p>
      </div>
    </div>
  </ng-template>
  