<h2>Country Dashboard</h2>
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group me-2">
        <button class="btn btn-outline-primary m-1" (click)="goToAddPage()">Add New Country</button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of countries; let i = index">
                <td>{{item.id}}</td>
                <td>{{item.name}}</td>
                <td>
                    <button type="button" class="btn btn-primary mx-2" (click)="navigateToEdit(item.id)">Edit</button>
                    <button type="button" class="btn btn-primary mx-2" (click)="deleteCountry(item.id)">Delete</button>
                    <button type="button" class="btn btn-primary mx-2" (click)="navigateToCities(item.id)">Cities</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
