<app-nav-bar></app-nav-bar>

<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form (ngSubmit)="onSubmit()" #photoForm="ngForm" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="category" class="form-label" style="font-size: 20px; font-weight: bold;">Category:</label>
                    <select id="category" name="category" [(ngModel)]="hotelPhoto.category" class="form-control" required
                        #category="ngModel">
                        <option *ngFor="let cat of categories" [value]="cat">{{ getCategoryName(cat) }}</option>
                    </select>
                    <div  *ngIf="category.invalid && (category.dirty || category.touched)">
                        <small class="text-danger">Please select a category.</small>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="photos" class="form-label" style="font-size: 20px; font-weight: bold;">Photos:</label><br>
                    <input type="file" id="photos" name="photos" (change)="onFileSelected($event)"
                        class="form-control-file visually-hidden" required multiple>
                    <label for="photos" class="btn btn-secondary">
                        Choose Photos
                    </label>
                    <div  *ngIf="fileValidationError">
                        <small class="text-danger">Please select at least one photo.</small>
                    </div>
                    <div *ngIf="selectedFile" class="mt-2">
                        <strong>Selected Files:</strong>
                        <ul class="list-unstyled">
                            <li>{{ selectedFile.name }}</li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <button type="submit" [disabled]="photoForm.invalid" class="btn btn-primary">Update Photo</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger" (click)="back()">Back</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
