nav {
  position: absolute; /* or 'absolute' depending on your layout needs */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  backdrop-filter: blur;
  z-index: 100; /* Ensure this is higher than any other z-index values in your layout */
  padding: -1rem -1rem; /* Optional: add padding for better appearance */
}

.nav__logo img {
  max-width: 100px;
}

.nav__links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.link a {
  text-decoration: none;
  font-weight: 600;
  color: white;
}

.login {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 600;
  color: white;
  background-color: rgba(0, 96, 95, 0.7); /* Semi-transparent background */
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}

.login:hover {
  background-color: rgba(1, 116, 121, 0.7);
}

/* Ensure the header image or video does not overlap the nav bar */
.header__image__container,
.header__video__container {
  margin-top: 5rem; /* Adjust this value as needed to avoid overlap */
}
