<nav class="navbar">
  <div class="navbar-logo">
    <img src="../../../assets/img/logolast.png" alt="Booky boo"> Booky boo
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/hotelBooking">Hotels</a></li>
    <li><a routerLink="/car">Car Rental</a></li>
    <li><a routerLink="/contact-us">Contact</a></li>
    <li><a routerLink="/about-us">About Us</a></li>
    <li *ngIf="isLoggedIn()&&isAdmin"><a routerLink="/dashboard" href="/dashboard" *ngIf="isAdmin">Admin</a></li>
  </ul>
  <div class="navbar-icons">
    <!-- Conditionally show icons based on login status -->
    <ng-container *ngIf="isLoggedIn(); else notLoggedIn">
      <div class="dropdown">
        <button class="dropbtn" (click)="toggleDropdown()">
          <ng-container *ngIf="user.photoUrl && isLoggedIn() ; else defaultUserIcon">
            <img [src]="user.photoUrl ? baseUrl + user.photoUrl : 'assets/img/a.png'"
            class=" user-photo" alt="Reviewer Image">
          </ng-container>
          <ng-template #defaultUserIcon>
            <i class="fa-regular fa-user"></i>
          </ng-template>
        </button>
        <div class="dropdown-content" [hidden]="!showDropdown">
          <a routerLink="/account-settings">Profile</a>
          <a href="/userBookingsView">Hotels Bookings</a>
          <a href="/userRentsView">Cars Rents</a>
          <a (click)="logout()">Log out</a>
        </div>
      </div>
      <a routerLink="/wishlist"><i class="fa-regular fa-heart"></i></a>
    </ng-container>
    <ng-template #notLoggedIn>
      <a routerLink="/login" (click)="navigateToLogin()">Sign In</a>
    </ng-template>
    <!-- Always show gear icon -->
    
  </div>
</nav>



<!-- Dropdown menu for user icon -->




