<nav class="navbar">
  <div class="navbar-logo">
    <img src="../../../assets/img/logolast.png" alt="Booky boo"> Booky boo
  </div>
  <ul class="navbar-links">
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/hotels">Hotels</a></li>
    <li><a routerLink="/car">Car Rental</a></li>
    <li><a routerLink="/contact-us">Contact</a></li>
    <li><a routerLink="/about-us">About Us</a></li>
    <li *ngIf="isLoggedIn()"><a rrouterLink="/dashboard" href="/dashboard">Admin</a></li>
  </ul>
  <div class="navbar-icons">
    <!-- Conditionally show icons based on login status -->
    <ng-container *ngIf="isLoggedIn(); else notLoggedIn">
      <div class="dropdown">
        <button class="dropbtn" (click)="toggleDropdown()">
          <i class="fa-regular fa-user"></i>
        </button>
        <div class="dropdown-content" [hidden]="!showDropdown">
          <a href="#">Review</a>
          <a href="#">Booking</a>
          <a (click)="logout()">Log out</a>
        </div>
      </div>
      <a href="#"><i class="fa-regular fa-heart"></i></a>
    </ng-container>
    <ng-template #notLoggedIn>
      <a routerLink="/login" (click)="navigateToLogin()">Sign In</a>
    </ng-template>
    <!-- Always show gear icon -->
    <a href="#"><i class="fa-solid fa-gear"></i></a>
  </div>
</nav>



<!-- Dropdown menu for user icon -->




