<!-- about-us.component.html -->

<!-- about_area_start -->
<div class="about_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about_info">
                    <div class="section_title mb-4">
                        <span>About Us</span>
                        <br>
                        <h3>BookyBoo</h3>
                    </div>
                    <p class="mb-4">Welcome to BookyBoo, your premier destination for hassle-free booking experiences. Whether you're planning a getaway, a business trip, or a special event, BookyBoo is here to make your reservations seamless and stress-free.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about_image">
                    <img src="assets/img/5.jpg" alt="About Us Image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>

<!-- about_area_end -->
<div class="mb-4" style="text-align: center; color: #3aacd8; font-size: 50px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bold; margin-bottom: 100px;">
    <span>A Best Place To Stay</span>
</div>
<!-- about_info_area_start -->
<div class="about_info_area">
    <ngb-carousel>
        <ng-template ngbSlide>
            <div class="single_slider" style="background-image: url('assets/img/3.jpg');"></div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="single_slider" style="background-image: url('assets/img/2.jpg');"></div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="single_slider" style="background-image: url('assets/img/1.jpg');"></div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="single_slider" style="background-image: url('assets/img/4.jpg');"></div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="single_slider" style="background-image: url('assets/img/5.jpg');"></div>
        </ng-template><ng-template ngbSlide>
            <div class="single_slider" style="background-image: url('assets/img/6.jpg');"></div>
        </ng-template><ng-template ngbSlide>
            <div class="single_slider" style="background-image: url('assets/img/7.jpg');"></div>
            <ng-template ngbSlide>
                <div class="single_slider" style="background-image: url('assets/img/8.jpg');"></div>
            </ng-template><ng-template ngbSlide>
                <div class="single_slider" style="background-image: url('assets/img/9.jpg');"></div>
            </ng-template>
        </ng-template>
    </ngb-carousel>
</div>
<!-- about_info_area_end -->


<!-- about_main_info_start -->
<div class="about_main_info">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="Cards h-100 card-hover-effect">
                    <div class="card-body">
                        <h5 class="card-title">At BookyBoo,</h5>
                        <p class="card-text">we understand the importance of finding the perfect accommodation, transportation, and experiences tailored to your needs. Our platform offers a curated selection of hotels, flights, car rentals, and activities, ensuring you find exactly what you're looking for, every time.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="Cards h-100 card-hover-effect">
                    <div class="card-body">
                        <h5 class="card-title">At BookyBoo,</h5>
                        <p class="card-text">Driven by a passion for travel and customer satisfaction, our team is dedicated to providing you with exceptional service and support throughout your journey. With easy booking processes, secure transactions, and round-the-clock assistance, BookyBoo is your trusted partner in travel planning.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-4 mb-4">
                <div class="Cards h-100 card-hover-effect">
                    <div class="card-body">
                        <h5 class="card-title">At BookyBoo,</h5>
                        <p class="card-text">Join the thousands of travelers who rely on BookyBoo to simplify their travel arrangements. Whether you're exploring new destinations or revisiting old favorites, let BookyBoo be your guide to unforgettable experiences.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="mb-4" style="text-align: center; color: #3aacd8; font-size: 50px;font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bold; margin-bottom: 100px;">
    <span>Instagram</span>
</div>
<div class="instragram_area" style="margin-top: 80px;">
    <div class="single_instagram">
        <div class="card">
            <img src="assets/img/7.jpg" alt="" class="card-img-top" style="width: 100%;">
            <div class="overlay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="single_instagram">
        <div class="card">
            <img src="assets/img/8.jpg" alt="" class="card-img-top" style="width: 100%;">
            <div class="overlay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="single_instagram">
        <div class="card">
            <img src="assets/img/9.jpg" alt="" class="card-img-top" style="width: 100%;">
            <div class="overlay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="single_instagram">
        <div class="card">
            <img src="assets/img/10.jpg" alt="" class="card-img-top" style="width: 100%;">
            <div class="overlay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="single_instagram">
        <div class="card">
            <img src="assets/img/6.jpg" alt="" class="card-img-top" style="width: 100%;">
            <div class="overlay">
                <a href="#">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- instragram_area_end -->
