<div class="modal fade" tabindex="-1" role="dialog" id="exampleModal">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content custom-modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Modal Title</h5>
        </div>
        <div class="modal-body">
            <app-hotel-map [hotel]="hotelCoordinates"></app-hotel-map>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>