<div class="container">
	<div class="left">
	  <div class="header">
		<h2 class="animation a1">Welcome Back</h2>
		<h4 class="animation a2">Log in to your account using username and password</h4>
	  </div>
	  <div class="form">
		<input
		  type="text"
		  class="form-field animation a3"
		  placeholder="User Name"
		  [(ngModel)]="userName"
		/>
		<input
		  type="password"
		  class="form-field animation a4"
		  placeholder="Password"
		  [(ngModel)]="password"
		/>
		<p class="animation a5"><a href="#">Forgot Password</a></p>
		<button class="animation a6" (click)="onLogin()">Login</button>
		<br>
		<p   class="animation a5" *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
	  </div>
	</div>
	<div class="right"></div>
  </div>
  