<div class="container">
  <div class="left">
    <div class="header">
      <h2 class="animation a1">Welcome </h2>
    </div>
    <div class="form">
      <input type="text" class="form-field animation a3" placeholder="First Name">
      <input type="text" class="form-field animation a3" placeholder="Last Name">
      <input type="email" class="form-field animation a3" placeholder="Email Address">
      <input type="password" class="form-field animation a4" placeholder="Password">
      <input type="password" class="form-field animation a4" placeholder=" Comfirm Password">
      <select class="form-select form-field animation a4">
        <option value="" disabled selected hidden>Select a City</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
     
      <button class="animation a6">Sign Up</button>
    </div>
  </div>
  <div class="right"></div>
</div>
