<div class="container-fluid mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form (ngSubmit)="onSubmit()" #photoForm="ngForm" class="needs-validation" novalidate>
                <div class="mb-3">
                    <label for="category" class="form-label"
                        style="font-size: 20px; font-weight: bold;">Category:</label>
                    <select id="category" name="category" [(ngModel)]="hotelPhotos.category" class="form-control"
                        required #category="ngModel">
                        <option *ngFor="let cat of categories" [value]="cat">{{ getCategoryName(cat) }}</option>
                    </select>
                    <div class="text-danger" *ngIf="category.invalid && (category.dirty || category.touched)">
                        Please select a category.
                    </div>
                </div>
                <div class="mb-3">
                    <label for="photos" class="form-label"
                        style="font-size: 20px; font-weight: bold;">Photos:</label><br>
                    <input type="file" id="photos" name="photos" (change)="onFilesSelected($event)"
                        class="form-control-file visually-hidden" required multiple>
                    <label for="photos" class="btn btn-secondary">
                        Choose Photos
                    </label>
                    <div class="invalid-feedback" *ngIf="fileValidationError">
                        Please select at least one photo.
                    </div>
                    <div *ngIf="selectedFiles.length > 0" class="mt-2">
                        <strong>Selected Files:</strong>
                        <ul class="list-unstyled">
                            <li *ngFor="let file of selectedFiles">
                                {{ file.name }}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <button type="submit" [disabled]="photoForm.invalid || selectedFiles.length === 0"
                            class="btn btn-primary">Add Photos</button>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-danger" (click)="back()">Back</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>