<!-- car.component.html -->
<div class="container mt-4">
  <h1 class="mb-4">Cars for Agency {{agencyId}}</h1>
  <div class="btn-toolbar mb-3 justify-content-end">
    <div class="btn-group">
  <button class="btn btn-outline-primary" (click)="goToAddPage()">Add Car</button>
  <div class="table-responsive">

  </div>
</div>

    <table class="table table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Model of Year</th>
          <th>Brand</th>
          <th>Rent Price</th>
          <th>Availability Status</th>
          <th>Plate Number</th>
          <th>Description</th>
          <th>Insurance Included</th>
          <th>Gear Type</th>
          <th>Gas Type</th>
          <th>Number of Seats</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let car of cars| paginate: { id: 'coun', itemsPerPage: 3, currentPage: page, totalItems: total }; let i = index">
          <td>{{car.modelOfYear}}</td>
          <td>{{car.brand}}</td>
          <td>{{car.rentPrice}}</td>
          <td>{{car.availabilityStatus ? 'Available' : 'Not Available'}}</td>
          <td>{{car.plateNumber}}</td>
          <td>{{car.description}}</td>
          <td>{{car.insuranceIncluded ? 'Yes' : 'No'}}</td>
          <td>{{car.gearType}}</td>
          <td>{{car.gasType}}</td>
          <td>{{car.numberOfSeats}}</td>
          <td>
            <button class="btn btn-sm btn-info mx-3" (click)="navigateToEdit(car.id)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="deleteCar(car.id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <pagination-controls class="d-flex justify-content-center" (pageChange)="changePage($event)" id="coun"></pagination-controls>
</div>
