<div class="container mt-4">
    <h1>Edit Car</h1>
    <form (ngSubmit)="updateCar()" #carForm="ngForm">
      <div class="form-group mb-4">
        <label>Model of Year:</label>
        <input type="text" class="form-control" [(ngModel)]="car.modelOfYear" name="modelOfYear" required>
      </div>
      <div class="form-group mb-4">
        <label>Brand:</label>
        <input type="text" class="form-control" [(ngModel)]="car.brand" name="brand" required>
      </div>
      <div class="form-group mb-4">
        <label>Rent Price:</label>
        <input type="number" class="form-control" [(ngModel)]="car.rentPrice" name="rentPrice" required>
      </div>
      <div class="form-group mb-4">
        <label>Availability Status:</label>
        <input type="checkbox" class="form-check-input" [(ngModel)]="car.availabilityStatus" name="availabilityStatus">
      </div>
      <div class="form-group mb-4">
        <label>Plate Number:</label>
        <input type="text" class="form-control" [(ngModel)]="car.plateNumber" name="plateNumber" required>
      </div>
      <div class="form-group mb-4">
        <label>Description:</label>
        <textarea class="form-control" [(ngModel)]="car.description" name="description" required></textarea>
      </div>
      <div class="form-group mb-4">
        <label>Insurance Included:</label>
        <input type="checkbox" class="form-check-input" [(ngModel)]="car.insuranceIncluded" name="insuranceIncluded">
      </div>
      <div class="form-group mb-4">
        <label>Gear Type:</label>
        <input type="text" class="form-control" [(ngModel)]="car.gearType" name="gearType" required>
      </div>
      <div class="form-group mb-4">
        <label>Gas Type:</label>
        <input type="text" class="form-control" [(ngModel)]="car.gasType" name="gasType" required>
      </div>
      <div class="form-group mb-4">
        <label>Number of Seats:</label>
        <input type="number" class="form-control" [(ngModel)]="car.numberOfSeats" name="numberOfSeats" required>
      </div>
      
      <div class="row justify-content-center">
        <div class="col-2">
          <button type="submit" class="btn btn-outline-primary rounded-pill m-2">Save</button>
        </div>
        <div class="col-2">
          <button type="button" class="btn btn-outline-danger rounded-pill m-2" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>
  </div>
  