<app-nav-bar></app-nav-bar>
<link
href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css"
rel="stylesheet"
/>
<header class="section__container header__container">
  <div class="header__image__container">
    <div class="header__content">
      <h1>Enjoy Your Dream Vacation</h1>
    </div>
    <div class="booking__container">
      <form>
        <div class="form__group">
          <div class="input__group">
            <input type="text" />
            <label>Location</label>
          </div>
          <p>Where are you going?</p>
        </div>
        <div class="form__group">
          <div class="input__group">
            <input type="text" />
            <label>Check In</label>
          </div>
          <p>Add date</p>
        </div>
        <div class="form__group">
          <div class="input__group">
            <input type="text" />
            <label>Check Out</label>
          </div>
          <p>Add date</p>
        </div>
        <div class="form__group">
          <div class="input__group">
            <input type="text" />
            <label>Guests</label>
          </div>
          <p>Add guests</p>
        </div>
      </form>
      <button class="btn"><i class="ri-search-line"></i></button>
    </div>
  </div>
</header>
<section class="section__container plan__container">
  <p class="subheader">TRAVEL SUPPORT</p>
  <h2 class="section__header">Plan your travel with confidence</h2>
  <p class="description">
    Find help with your bookings and travel plans, and see what to expect along your journey.
  </p>
  <div class="plan__grid">
    <div class="plan__content">
      <span class="number">01</span>
      <h4>Travel Requirements for All Countries</h4>
      <p>
        Keep yourself updated and ready for your trip to any Country you want by knowing the necessities for travelling, which will guarantee a hassle-free and easy stay in this exciting and fascinating city.
      </p>
      <span class="number">02</span>
      <h4>Multi-risk travel insurance</h4>
      <p>
        All-inclusive security for your comfort, encompassing a variety of possible travel hazards and unexpected events.
      </p>
      <span class="number">03</span>
      <h4>Travel Requirements by destinations</h4>
      <p>
        We offer up-to-date information on travel needs unique to your targeted places, so stay informed and organise your trip with ease.
      </p>
    </div>
    <div class="plan__image">
      <img src="../../../assets/img/plan4.jpg" alt="plan" />
      <img src="../../../assets/img/plan2.jpg" alt="plan" />
      <img src="../../../assets/img/plan5.jpg" alt="plan" />
    </div>
  </div>
</section>
<section class="client">
    <div class="section__container client__container">
      <h1 class="section__headerClient">What our client say</h1>
      <div class="client__grid">
        <div class="client__card">
          <img src="../../../assets/img/person4.jpg" alt="client" />
          <p>
            The booking process was seamless, and the confirmation was
            instant. I highly recommend WDM&Co for hassle-free hotel bookings.
          </p>
        </div>
        <div class="client__card">
          <img src="../../../assets/img/peron5.jpg" alt="client" />
          <p>
            The website provided detailed information about hotel, including
            amenities, photos, which helped me make an informed decision.
          </p>
        </div>
        <div class="client__card">
          <img src="../../../assets/img/peron3.jpg" alt="client" />
          <p>
            I was able to book a room within minutes, and the hotel exceeded
            my expectations. I appreciate WDM&Co's efficiency and reliability.
          </p>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>