/* Add more space below the header */
.section__container.header__container {
    margin-bottom: 10rem; /* Adjust this value as needed */
  }
  
  /* Add more space below the second section */
  .plan__container {
    margin-bottom: 10rem; /* Adjust this value as needed */
  }
  
  .header__image__container {
    position: relative;
    min-height: 500px;
    background-image: url("../../../assets/img/p2.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 2rem;
  }
  
  .header__content {
    max-width: 600px;
    padding: 5rem 2rem;
  }
  
  .header__content h1 {
    margin-bottom: 1rem;
    font-size: 3.5rem;
    line-height: 4rem;
    font-weight: 600;
    color: white;
  }
  
  .header__content p {
    color: var(--extra-light);
  }
  
  .booking__container {
    position: absolute;
    bottom: -5rem;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 6rem);
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background-color: rgba(255, 255, 255, 0.7);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.1);
  }
  
  .booking__container form {
    width: 100%;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  
  .booking__container .input__group {
    width: 100%;
    position: relative;
  }
  
  .booking__container label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-dark);
    pointer-events: none;
    transition: 0.3s;
  }
  
  .booking__container input {
    width: 100%;
    padding: 10px 0;
    font-size: 1rem;
    outline: none;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--primary-color);
    color: var(--text-dark);
  }
  
  .booking__container input:focus ~ label {
    font-size: 0.8rem;
    top: 0;
  }
  
  .booking__container .form__group p {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-light);
  }
  
  .booking__container .btn {
    padding: 0.5rem;
    outline: none;
    border: none;
    font-size: 1.5rem;
    color: var(--white);
    background-color: #5fa8d3;
    border-radius: 100%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .booking__container .btn:hover {
    background-color: #cae9ff;
  }
  
  .plan__container .subheader {
    margin-bottom: 1rem;
    text-align: center;
    font-weight: 600;
    color: var(--text-dark);
    letter-spacing: 5px;
  }
  
  .plan__container .section__header {
    text-align: center;
    font-size: 3rem;
    line-height: 4rem;
    margin-bottom: 1rem;
  }
  
  .plan__container .description {
    text-align: center;
    color: var(--text-light);
  }
  
  .plan__grid {
    margin-top: 4rem;
    margin-left: 4rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  
  .plan__content .number {
    display: inline-block;
    padding: 5px 15px;
    margin-bottom: 0.5rem;
    font-weight: 600;
    color: var(--white);
    background-color: #62b6cb;
    border-radius: 2rem;
  }
  
  .plan__content .number:nth-child(4) {
    background-color: #62b6cb;
  }
  
  .plan__content .number:nth-child(7) {
    background-color: #62b6cb;
  }
  
  .plan__content h4 {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--text-dark);
    margin-bottom: 0.5rem;
  }
  
  .plan__content p {
    color: var(--text-light);
    margin-bottom: 2rem;
  }
  
  .plan__image {
    position: relative;
  }
  
  .plan__image img {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  }
  
  .plan__image img:nth-child(1) {
    max-width: 250px;
    transform: translate(calc(-50% - 9rem), calc(-50% + 5rem));
    z-index: 3;
  }
  
  .plan__image img:nth-child(2) {
    max-width: 260px;
    transform: translate(-50%, calc(-50% - 5rem));
    z-index: 2;
  }
  
  .plan__image img:nth-child(3) {
    max-width: 230px;
    transform: translate(calc(-50% + 9rem), calc(-50% + 5rem));
  }
  
  .client {
    margin-bottom: 2rem;
    background-color: var(--extra-light);
    padding-top: 1rem; 
    padding-left: 3rem;
    padding-right: 3rem;/* Add padding-top to adjust vertical spacing */
  }
  .section__headerClient{
    font-weight: 800;
    color: black;
    margin-bottom: .5rem;
    padding-bottom: -1rem;
  
  }
  
  .client__container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align the content */
  }
  
  .client__grid {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .client__card {
    display: flex;
    flex-direction: column; /* Ensure the elements stack vertically */
    align-items: center; /* Center the items horizontally */
    padding: 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center align text */
  }
  
  .client__card img {
    max-width: 150px;
    margin-bottom: 2rem;
    border-radius: 100%;
  }
  
  .client__card p {
    color: var(--text-dark);
  }
  
  /* Media Queries */
  
  @media (max-width: 1200px) {
    .section__container.header__container,
    .section__container.plan__container,
    .section__container.lounge__container {
      overflow: hidden;
    }
  
    .memories__grid {
      gap: 3rem;
    }
  }
  
  @media (max-width: 900px) {
    nav .btn {
      display: none;
    }
  
    .header__container img {
      min-width: 900px;
      margin-left: 50%;
      transform: translateX(-50%);
    }
  
    .booking__container form {
      grid-template-columns: repeat(2, 1fr);
    }
  
    .plan__grid {
      grid-template-columns: repeat(1, 1fr);
    }
  
    .plan__image {
      min-height: 600px;
      grid-area: 1 / 1 / 2 / 2;
    }
  
  }
  @media (max-width: 800px) {
    .nav__links {
      display: none;
    }
  
    .header__container {
      padding-bottom: 25rem;
    }
  
    .booking__container {
      flex-direction: column;
      bottom: -25rem;
    }
  
    .booking__container form {
      grid-template-columns: repeat(1, 1fr);
    }}
  
  @media (max-width: 600px) {
    .nav__links {
      display: none;
    }
  
    .header__container {
      padding-bottom: 25rem;
    }
  
    .booking__container {
      flex-direction: column;
      bottom: -25rem;
    }
  
    .booking__container form {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  