<div class="container mt-2">
    <h2 class="mb-4 text-center">Admins Dashboard</h2>
    <div class="btn-toolbar mb-3 justify-content-end">
        <div class="btn-group">
            <button class="btn btn-outline-primary" (click)="goToAddPage()">Add New Admin</button>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">User Name</th>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Gender</th>
                    <th scope="col">Address</th>
                    <th scope="col">Birth Date</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of admins | paginate: { id: 'ad', itemsPerPage: 3, currentPage: page, totalItems: total }; let i = index">
                    <td>{{i + 1}}</td>
                    <td>{{item.userName}}</td>
                    <td>{{item.firstName}}</td>
                    <td>{{item.lastName}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.gender}}</td>
                    <td>{{item.address}}</td>
                    <td>{{item.birthDate}}</td>
                    <td>
                        <div class="btn-group">
                            <button type="button" class="btn btn-sm btn-outline-primary mx-2" (click)="navigateToEdit(item.email, item)">Edit</button>
                            <button type="button" class="btn btn-sm btn-outline-danger mx-2" (click)="deleteAdmin(item.email)">Delete</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="d-flex justify-content-center">
            <pagination-controls (pageChange)="changePage($event)" id="ad"></pagination-controls>
        </div>
    </div>
</div>
