<form>
    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <input type="Name" class="form-control" id="Name" aria-describedby="Name">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Description</label>
        <input type="Description" class="form-control" id="Description">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Rating</label>
        <input type="Description" class="form-control" id="Description">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Phone Number</label>
        <input type="Description" class="form-control" id="Description">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Email</label>
        <input type="Description" class="form-control" id="Description">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">WebsiteURL</label>
        <input type="Description" class="form-control" id="Description">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Latitude</label>
        <input type="Description" class="form-control" id="Description">
    </div>
    <div class="mb-3">
        <label for="Description" class="form-label">Longitude</label>
        <input type="Description" class="form-control" id="Description">
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>