<div class="container-fluid">
  <div class="row">
    <!-- Sidebar -->
    <div class="col-md-3" style="margin-top: 60px;">
      <app-side-bar></app-side-bar>
    </div>

    <!-- Main Content -->
    <div class="col-md-9">
      <div class="container mt-4">
        <h1>Privacy</h1>
        <hr>
        
        <!-- Privacy Sections -->
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-user-shield"></i> Exercise your privacy rights</h5>
            <p class="card-text">Control how your data is used.</p>
            <a href="#" class="link-underline-light edit-link">Manage Privacy Settings</a>
          </div>
        </div>
        
        <!-- Additional Privacy Settings
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-lock"></i> Privacy Setting 1</h5>
            <p class="card-text">Description of Privacy Setting 1.</p>
            <a href="#" class="link-underline-light edit-link">Manage Setting 1</a>
          </div>
        </div> -->
        
        <div class="card mb-4">
          <div class="card-body">
            <h5 class="card-title"><i class="fas fa-lock"></i> Location Information</h5>
            <p class="card-text">Manage Your Location Information</p>
            <a href="#" class="link-underline-light edit-link">Manage </a>
          </div>
        </div>
        
        <!-- Add more privacy settings as needed -->
      
      </div>
    </div>
  </div>
</div>
