/* Container and Sidebar */
.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
  }
  
  .sidebar {
    width: 300px;
    background-color: #fff;
    padding: 20px;
    margin-right: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  /* Slider Styles */
  .slider {
    height: 5px;
    position: relative;
    background: #ddd;
    border-radius: 5px;
    margin-bottom: 2px;
  }
  
  .slider .progress {
    height: 100%;
    position: absolute;
    border-radius: 5px;
    background: #17a2b8;
  }
  
  .range-input {
    position: relative;
  }
  
  .range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -webkit-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  
  input[type="range"]::-moz-range-thumb {
    height: 17px;
    width: 17px;
    border: none;
    border-radius: 50%;
    background: #17a2b8;
    pointer-events: auto;
    -moz-appearance: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
  }
  
  /* Additional Styles */
  .sidebar header h2,
  .sidebar header p {
    margin: 0;
  }
  
  .price-input {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .price-input .field {
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  
  .price-input .field input {
    width: 80px;
    padding: 5px;
    margin-left: 10px;
  }
  
  .price-input .separator {
    margin-right: 10px;
  }
  
  /* Main Content and Hotel Card Styles */
  .main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  
  .hotel-card {
    display: flex;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
    padding-right: 60px;
  }
  
  .hotel-card img {
    width: 350px;
    height: 355px;
    object-fit: cover;
  }
  
  .hotel-info {
    padding: 20px;
    flex: 1;
  }
  
  .hotel-info h3 {
    margin: 0;
    font-size: 30px;
    padding-bottom: 3px;
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .hotel-info p {
    margin: 5px 0;
  }
  
  .hotel-info .city {
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
  }
  
  .hotel-info .rating {
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  
  .hotel-info .price {
    font-size: 20px;
    color: #d9534f;
    font-weight: bold;
  }
  
  button {
    background-color: #17a2b8;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 250px;
  }
  
  button:hover {
    background-color: #0e7c8d;
  }
  
  .price-container {
    display: flex;
    align-items: center;
  }
  
  .price-container .price {
    margin-right: 110px;
  }
  
  .price-container button {
    margin-left: 12px;
  }
  
  .filters .head {
    font-size: 20px;
    font-weight: 500;
  }
  
  .filters .form-check {
    display: flex;
    align-items: center;
  }
  
  .filters .form-check-label {
    margin-left: 8px;
    margin-bottom: 2px;
    padding-left: 2px;
  }
  
  /* Like Button Styles */
  .con-like {
    --red: rgb(255, 50, 50);
    right: 10px;
    position: absolute;
    top: 10px;
    margin-top: 6px;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  
  .con-like .like {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 20;
    cursor: pointer;
  }
  
  .con-like .checkmark {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .con-like .outline,
  .con-like .filled {
    fill: var(--red);
    position: absolute;
  }
  
  .con-like .filled {
    animation: kfr-filled 0.5s;
    display: none;
  }
  
  .con-like .celebrate {
    position: absolute;
    animation: kfr-celebrate 0.5s;
    animation-fill-mode: forwards;
    display: none;
  }
  
  .con-like .poly {
    stroke: var(--red);
    fill: var(--red);
  }
  
  .con-like .like:checked ~ .checkmark .filled {
    display: block;
  }
  
  .con-like .like:checked ~ .checkmark .celebrate {
    display: block;
  }
  
  @keyframes kfr-filled {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
  }
  
  @keyframes kfr-celebrate {
    0% {
      transform: scale(0);
    }
    50% {
      opacity: 0.8;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
      display: none;
    }
  }
  .error-message {
    color: red;
    font-size: 0.9em;
  }
  