<app-car-rental-header [parmas]="filterParams"></app-car-rental-header>
<div class="container">
  <div class="sidebar">
    <header>
      <h2>Price Range (per day)</h2>
      <p>Use slider or enter min and max price</p>
    </header>
    <div class="price-input">
      <div class="field">
        <span>Min</span>
        <input type="number" class="input-min" [(ngModel)]="minPrice" (input)="updateInputs()"
          (change)="updateFilteredCars()" #priceMin>
      </div>
      <div class="separator">-</div>
      <div class="field">
        <span>Max</span>
        <input type="number" class="input-max" [(ngModel)]="maxPrice" (input)="updateInputs()"
          (change)="updateFilteredCars()" #priceMax>
      </div>
    </div>
    <div class="slider">
      <div class="progress" #range></div>
    </div>
    <div class="range-input">
      <input type="range" class="range-min" min="100" max="5000" [(ngModel)]="minPrice" (input)="updateSlider()"
        #rangeMin (change)="updateFilteredCars()">
      <input type="range" class="range-max" min="100" max="5000" [(ngModel)]="maxPrice" (input)="updateSlider()"
        #rangeMax (change)="updateFilteredCars()">
    </div>
    <br><br>
    <h2>Filter by</h2>
    <div class="filters">
      <label for="GearType" class="form-label">Gear Type:</label>
      <select id="GearType" name="GearType" [(ngModel)]="filterParams.gearType" class="form-select" required
        (change)="updateFilteredCars()">
        <option *ngFor="let type of gearTypes" [value]="type.value">{{ type.label }}</option>
      </select>
    </div><br>

    <div class="filters">
      <label for="ModelOfYear" class="form-label">Model of Year:</label>
      <input id="ModelOfYear" name="ModelOfYear" [(ngModel)]="filterParams.modelOfYear" class="form-control"
        type="number" required min="1990" max="2024" (change)="updateFilteredCars()">
      <div *ngIf="modelOfYearInvalid()" class="invalid-feedback d-block">
        Model year must be between 1990 and 2024.
      </div>
    </div><br>

    <div class="filters">
      <label for="agency" class="form-label">Car Agency:</label>
      <select id="agency" name="agency" [(ngModel)]="selectedAgancyId" class="form-select" required
        (change)="updateFilteredCars()">
        <option *ngFor="let agency of agencies" [value]="agency.id">{{ agency.name }}</option>
      </select>
    </div><br>
  </div>
  <div class="main-content">
    <div class="car-card" *ngFor="let car of filteredCars; let i = index">
      <div *ngIf="getMainPhoto(car) as mainPhoto">
        <img [src]="baseUrl + mainPhoto.photoUrl" [alt]="car.description">
      </div>
      <div class="car-info">
        <h3>{{ car.brand }} </h3>
        <h3>{{ car.description }} </h3>
        <p class="agency">{{ car.agencyName }}</p>
        <p class="price">Price per day: <span>{{ car.rentPrice }}</span></p>
        <p class="model-year">Model Year: <span>{{ car.modelOfYear }}</span></p>
        <button (click)="goCarDetails(car)">See details</button>
      </div>
    </div>
  </div>
</div>