<app-booking-header class="booking_header"></app-booking-header>
<div class="container">
  <div class="sidebar">
    <header>
      <h2>Price Range (per night)</h2>
      <p>Use slider or enter min and max price</p>
    </header>
    <div class="price-input">
      <div class="field">
        <span>Min</span>
        <input type="number" class="input-min" [(ngModel)]="minPrice" (input)="updateInputs()"
          (change)="updateFilteredHotel()" #priceMin>
      </div>
      <div class="separator">-</div>
      <div class="field">
        <span>Max</span>
        <input type="number" class="input-max" [(ngModel)]="maxPrice" (input)="updateInputs()"
          (change)="updateFilteredHotel()" #priceMax>
      </div>
    </div>
    <div class="slider">
      <div class="progress" #range></div>
    </div>
    <div class="range-input">
      <input type="range" class="range-min" min="100" max="5000" [(ngModel)]="minPrice" (input)="updateSlider()"
        #rangeMin (change)="updateFilteredHotel()">
      <input type="range" class="range-max" min="100 " max="5000" [(ngModel)]="maxPrice" (input)="updateSlider()"
        #rangeMax (change)="updateFilteredHotel()">
    </div>
    <br><br>
    <h2>Popular features</h2>
    <div class="filters">
      <label for="roomType" class="form-label">Room Type:</label>
      <select id="roomType" name="roomType" [(ngModel)]="selectedRoomTypeId" class="form-select" required
        (change)="updateFilteredHotel()">
        <option *ngFor="let roomType of roomTypes" [value]="roomType.id">{{ roomType.name }}
        </option>
      </select>
    </div><br>
    <div class="filters">
      <label for="View" class="form-label">Views:</label>
      <select id="View" name="View" [(ngModel)]="filterParams.roomView" class="form-select" required
        (change)="updateFilteredHotel()">
        <option *ngFor="let view of views" [value]="view.value">{{ view.label }}
        </option>
      </select>
    </div><br>
    <div class="filters">
      <label class="form-label head">Features:</label>
      <div *ngFor="let feature of features" class="form-check">
        <input type="checkbox" id="feature{{ feature.id }}" [checked]="isSelectedFeature(feature.id)"
          (change)="featureCheckboxChanged($event.target)">
        <label for="feature{{ feature.id }}" class="form-check-label child">{{ feature.name }}</label>
      </div>
    </div>
  </div>
  <div class="main-content">
    <div class="hotel-card" *ngFor="let hotel of filteredHotels">
      <div *ngIf="getMainPhoto(hotel) as mainPhoto">
        <img [src]="baseUrl+mainPhoto.photoUrl" [alt]="hotel.name">
      </div>
      <div class="hotel-info">
        <h3>{{ hotel.name }} </h3>
        <p class="city">{{ hotel.cityName }}</p>
        <p class="rating">Rating: <span>{{ hotel.rating }}</span></p>
        <p class="comfort">Description: <span>{{ hotel.description }}</span></p>
        <div class="price-container">
          <span class="price">Start from {{ hotel.price }}</span>
          <button (click)="goHotelDetails(hotel)">See availability</button>
        </div>
      </div>
      <div class="con-like" (click)="toggleWishlist(hotel)">
        <input class="like" type="checkbox" title="like">
        <div class="checkmark">
          <svg xmlns="http://www.w3.org/2000/svg" class="outline" viewBox="0 0 24 24">
            <path
              d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Zm-3.585,18.4a2.973,2.973,0,0,1-3.83,0C4.947,16.006,2,11.87,2,8.967a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,8.967a1,1,0,0,0,2,0,4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,8.967C22,11.87,19.053,16.006,13.915,20.313Z">
            </path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" class="filled" viewBox="0 0 24 24">
            <path
              d="M17.5,1.917a6.4,6.4,0,0,0-5.5,3.3,6.4,6.4,0,0,0-5.5-3.3A6.8,6.8,0,0,0,0,8.967c0,4.547,4.786,9.513,8.8,12.88a4.974,4.974,0,0,0,6.4,0C19.214,18.48,24,13.514,24,8.967A6.8,6.8,0,0,0,17.5,1.917Z">
            </path>
          </svg>
          <svg xmlns="http://www.w3.org/2000/svg" height="100" width="100" class="celebrate">
            <polygon class="poly" points="10,10 20,20"></polygon>
            <polygon class="poly" points="10,50 20,50"></polygon>
            <polygon class="poly" points="20,80 30,70"></polygon>
            <polygon class="poly" points="90,10 80,20"></polygon>
            <polygon class="poly" points="90,50 80,50"></polygon>
            <polygon class="poly" points="80,80 70,70"></polygon>
          </svg>
        </div>
      </div>
    </div>
  </div>
</div>